@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3213a3 2.84%, #948d89 36.67%);
  --gradient-text2: linear-gradient(24deg, #3213a3 2.84%, #948d89 36.67%);
  
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
}

html{
  font-size: 100%;
}

/* LOGIN */
#loginform{
  display: flex;
  max-width: 100px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}
#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}
/* SIGNUP */

/* HOMEPAGE */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
} */

/* body {
  background: var(--color-bg);
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%)
} */


.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__text2 {
  background: var(--gradient-text2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 3rem;
}

.hp {
  display: flex;
  flex-direction: row;
}

.hp-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15rem;
  margin-left: 10rem;
}

.hp-2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15rem;
  margin-left: 10rem;
}

.and {
  margin-left: 5rem;
}


/* CLASS SCHEDULE */

/* BENCHMARKS/PERSONAL BESTS */

/* LOGOUT */






/*  NAV  */

#header-img {
  object-fit: contain;
  width: 15em;
  height: 10em;
  margin-top: 0em;
}

#image-div {
  margin: 0 10em 0 10em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
  margin-bottom: 0em;
  padding: 10px;
  position: relative;
  align-items: center;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}

/*  FOOTER  */

.footer {
  position: sticky;
}