@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #3213a3 2.84%, #948d89 36.67%);
  --gradient-text2: linear-gradient(24deg, #3213a3 2.84%, #948d89 36.67%);
  
}
